body{background:white;widht:100%;}
#titulo{color:green;text-align:center;}
.centrado{text-align:center;}
.articulo{width:33%;display:inline-block;}
.articulo{width:33%;display:inline-block;}
.articulo{width:33%;display:inline-block;}

